.site-branding {
    font-size: 3rem;
    font-weight: bold;
}

.header {
    padding-bottom: 1rem;
}

.subtitle {
    margin-top: 0;
    margin-bottom: 0;
}

.post-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.me-1 {
    margin-right: 0.25rem;
}

.me-2 {
    margin-right: 0.5rem;
}