<!DOCTYPE html>
<html lang="en">
<head>
    {% include analytics.html %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
    {% if page.title %}
        {{ page.title }} | {{ site.data.common.title }}
    {% else %}
        {{ site.data.common.title }}
    {% endif %}
    </title>

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt }}">
    {% endif %}

    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">

    <!-- Minified simple.css -->
    <link rel="stylesheet" href="/assets/css/simple.min.css">

    <!-- custom.css -->
    <link rel="stylesheet" href="/assets/css/custom.css">
</head>
<body>
<header class="header">
    {% include navigation.html %}
    <div class="branding">{{ site.data.common.branding }}</div>
    <p class="subtitle">{{ site.data.common.subtitle }}</p>
</header>
<main>
    {{ content }}
</main>
<footer>
    {% include footer.html %}
</footer>
</body>
</html>