<!DOCTYPE html>
<html lang="en">
<head>
    {% include analytics.html %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if page.title %}
        <title>{{ page.title }} | {{ site.data.common.title }}</title>
        <meta property="og:title" content="{{ page.title }}">
    {% else %}
        <title>{{ site.data.common.title }}</title>
    {% endif %}

    {% if page.excerpt %}
        <meta name="description" content="{{ page.excerpt | strip_html }}">
        <meta property="og:description" content="{{ page.excerpt | strip_html }}">
        <meta property="og:url" content="{{ page.url | relative_url }}">
    {% endif %}

    {% if page.image %}
    <meta property="og:image" content="{{ page.image | relative_url }}">
    {% endif %}

    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">

    <!-- Minified simple.css -->
    <link rel="stylesheet" href="/assets/css/simple.min.css">

    <!-- custom.css -->
    <link rel="stylesheet" href="/assets/css/custom.css">
</head>
<body>
<header class="header">
    {% include navigation.html %}
    <div class="branding">{{ site.data.common.branding }}</div>
    <p class="subtitle">{{ site.data.common.subtitle }}</p>
</header>
<main>
    {{ content }}
</main>
<footer>
    {% include footer.html %}
</footer>
</body>
</html>