name: GitHub Pages

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  id-token: write
  contents: write
  pages: write

jobs:
  build:
    name: Jekyll Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4.7' # Specify your Ruby version
          bundler-cache: true # Caches gems for faster builds

      - name: Build Jekyll site
        run: bundle exec jekyll build

      - name: Upload build result as artifact pages
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          # name needs to be letter lock, or it won't work
          # see https://github.com/actions/upload-pages-artifact#artifact-validation
          name: github-pages
          path: _site
  deploy:
    name: Deployment
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy artifact as Pages
        id: deployment
        uses: actions/deploy-pages@v4